body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: whitesmoke;
    background-image: url(25100.jpg);
    background-size: cover;
}

h1 {
    font-size: 25px;
}

.button {
    display: block;
    width: 100%;
    height: 40px;
    margin: 1rem auto;
    max-width: 100px;
    border-radius: 999px;
    position: relative;
    font-weight: 900;
    overflow: hidden;
    text-transform: uppercase;
    border: 1px solid currentColor;
}

.button:hover {
    color: grey;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.campotxt {
    border-radius: 5px;
    border-color: rgb(207, 207, 214);
}

h2 {
    font-weight: 300;
}

img {
    height: 25%;
    padding-bottom: 5px;
    border-radius: 10px;
}

a {
    color: darkgrey;
}

p {
    color: black;
    margin: 10px;
}

.box {
    position: relative;
    width: 800px;
    height: 180px;
    background: white;
    border: 1px solid gainsboro;
    border-radius: 9px;
    color: white;
    box-shadow: 9px 9px rgba(0, 0, 0, .15);
    transition: all .4s ease;
    margin-left: 250px;
}

.box:hover {
    padding-left: 0.5rem;
    border-left: 0.5rem solid gray;
}